<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Price_Tracker </title>
   <link rel="stylesheet" type="text/css" href="/css/homepage.css">
   <link rel="stylesheet" type="text/css" href="/css/homepagebody.css">
</head>
<body>
    <nav class="nav">
        <div class="headerlogo">
            <a><a href="/"><img src="/images/logo1.png" alt="Price_Tracker"></a></a>
        </div>
        <div class="search-bar-conteiner">
            <input class="search-bar" id="search-bar" type="text" placeholder="Search...">
        </div>
        <div>
            <a  href="/login.ejs"><b>Login & Singup</b></a>
        </div>

    </nav>

    <nav class="nav2">
        <div>
            <a href="">alibaba.com</a>
        </div>
        <div>
            <a href="">bikroy.com</a>
        </div>
        <div>
            <a href="">amazon.com</a>
        </div>
        <div>
            <a href="">chaldal.com</a>
        </div>
        <div>
            <a href="">jadroo.com</a>
        </div>

    </nav>
    <h1 class="h1-tag">Mobile Phone</h1>
    <nav class="main-body">
        <div class="image-container">
            <a class="prduct" href="">
                <img src="https://static.toiimg.com/thumb/resizemode-4,msid-78671024,imgsize-500,width-800/78671024.jpg" class="prduct-image">
                <p class="prduct-name">iPhone-12</p>
                <p class="prduct-price">$887.5</p>
             </a>
        </div>
        <div>
            <a class="prduct" href="">
                <img src="https://mobiledor.com/wp-content/uploads/Samsung-Galaxy-S20-Ultra-Bangladesh.jpg" class="prduct-image">
                <p class="prduct-name">Samsung-Galaxy-S20</p>
                <p class="prduct-price">$1194.99</p>
             </a>
        </div>
        <div>
            <a class="prduct" href="">
                <img src="https://mobilebiponi.com/wp-content/uploads/elementor/thumbs/Oppo-A31-bd-ovstfo7yt7j9wk8zuuz4v8ch5k72y1ee40clnkr7r4.jpg" class="prduct-image">
                <p class="prduct-name">Oppo-A31</p>
                <p class="prduct-price">$225.25</p>
             </a>
        </div>
        <div>
            <a class="prduct" href="">
                <img src="https://amarmobile.com.bd/content/media/large/c2085b5f-sony-xperia-l4.jpg" class="prduct-image">
                <p class="prduct-name">Sony-xperia-l4</p>
                <p class="prduct-price">$231.25</p>
             </a>
        </div>
        <div>
            <a class="prduct" href="">
                <img src="https://i0.wp.com/www.mobilebd.co/wp-content/uploads/2020/02/HTC-Wildfire-R70-Official-image-500x500.jpg" class="prduct-image">
                <p class="prduct-name">HTC_Wildfire-R70</p>
                <p class="prduct-price">$212.5</p>
             </a>
        </div>
    </nav>

</body>    
</html>
