<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Price_Tracker </title>
   <link rel="stylesheet" type="text/css" href="/css/homepage.css">
   <link rel="stylesheet" type="text/css" href="/css/homepagebody.css">
</head>
<body>
    <nav class="nav-container">
     <nav class="nav">
        <a class="nav-anchor" href="/"><p class="nav-anchor">Price_Tracker</p></a>
        <div class="search-bar-conteiner">
            <input class="search-bar" id="search-bar" type="text" placeholder="Search...">
        </div>
       <!-- <% if(!user) { %>
            <a class="nav-anchor" href="/auth/login"><b>Login</b></a>
        <% } else { %>
            <a class="nav-anchor" href="/auth/logout">Logout</a>
        <% } %>-->


        <!--DropDown-Hamburgure -->
        <div class="dropdown-container">
            <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
            <ul id="dropdown" class="dropdown">
               <%if(user) {%>
                  <li><a class="dc-anchor" href="/user">Profile</a></li>
                  <li><a class="dc-anchor" href="/admin">Admin Panel</a></li>
                  <%if(user.type === 'admin') {%>
                     <li><a class="dc-anchor" href="/admin">Admin Panel</a></li>
                  <%}%>
                  <li><a class="dc-anchor" href="/tracking">Price Tracking</a></li>
                  <li><a class="dc-anchor" href="/auth/logout">Sign Out</a></li>
               <%} else {%>
                  <li><a class="dc-anchor" href="/auth/login">Sign In</a></li>
                  <li><a class="dc-anchor" href="/auth/register">Sign Up</a></li>
               <%}%>
            </ul>
         </div>
     </nav>
     <nav class="nav2">
        <div>
            <marquee>
              <h3 class="header">Welcome to Price_Tracker Website</h3>
            </marquee>
        </div>
     </nav>
    </nav>
      
    <script type="text/javascript" src="/js/homepage.js"></script>

</body>    
</html>
