<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Price_Tracker </title>
   <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
    <nav class="nav">
        <div class="headerlogo">
            <a><a href="/"><img src="/images/logo1.png" alt="Price_Tracker"></a></a>
        </div>
        <div class="search-bar-conteiner">
            <input class="search-bar" id="search-bar" type="text" placeholder="Search...">
        </div>
        <div>
            <a  href="/login.ejs"><b>Login & Singup</b></a>
        </div>

    </nav>

    <nav class="nav2">
        <div>
            <a href="">alibaba.com</a>
        </div>
        <div>
            <a href="">bikroy.com</a>
        </div>
        <div>
            <a href="">amazon.com</a>
        </div>
        <div>
            <a href="">chaldal.com</a>
        </div>
        <div>
            <a href="">jadroo.com</a>
        </div>

    </nav>

</body>    
</html>
