<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Price_Tracker </title>
   <link rel="stylesheet" type="text/css" href="/css/homepage.css">
   <link rel="stylesheet" type="text/css" href="/css/homepagebody.css">
</head>
<body>
    <nav class="nav-container">
     <nav class="nav">
        <a class="nav-anchor" href="/"><p class="nav-anchor">Price_Tracker</p></a>
        <div class="search-bar-conteiner">
            <input class="search-bar" id="search-bar" type="text" placeholder="Search...">
        </div>
        <% if(!user) { %>
            <a class="nav-anchor" href="/auth/login"><b>Login</b></a>
        <% } else { %>
            <a class="nav-anchor" href="/auth/logout">Logout</a>
        <% } %>
     </nav>
     <nav class="nav2">
        <div>
            <a href="">alibaba.com</a>
        </div>
        <div>
            <a href="">bikroy.com</a>
        </div>
        <div>
            <a href="">amazon.com</a>
        </div>
        <div>
            <a href="">chaldal.com</a>
        </div>
        <div>
            <a href="">jadroo.com</a>
        </div>

     </nav>
    </nav>
 
<!--Main BODY PART-->
    <div class="conteiner">
        <div class="side-image">
            <h3 class="header">Welcome to Price_Tracker Website</h3>
           <img class="image" src="https://www.price2spy.com/blog/wp-content/uploads/2021/01/eCommerce-Price-Tracker-1.png">
        </div>

        <div class="box2">
            <diV>
                <a class="side-info" href="">Product</a>
            </diV>
            <% if(user) { %>
                <diV>
                    <a class="side-info"  href="/admin">Admin</a>
                </diV>
                <diV>
                    <a class="side-info"  href="/user">Profile</a>
                </diV>
                <diV>
                    <a class="side-info"  href="/tracking">Price Tracking</a>
                </diV>
            <% } %>
        </div>

        </div>
    </div>

</body>    
</html>
