<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Price_Tracker </title>
   <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
    <table class="nav">
        <tr>
            <td><img src="/images/logo1.png" alt="PriceTracker"></td>
            <td ><input class="search-bar" id="search-bar" type="text" placeholder="Search..."> </td>
            <th><a href="">Login & Singup</a></th>
        </tr>
    </table>
    <table class="nav2">
        <tr>
            <td><a href="">alibaba</a></td>
            <td><a href="">Bikroy.com</a></td>
            <td><a href="">Amazom.com</a></td>
            <td><a href="">Chaldal.com</a></td>
        </tr>
    </table>

</body>    
</html>
