<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log IN</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/homepagebody.css"> -->
</head>
<body>
    <h2>Login page</h2>
    <form id=login  method="get"  action="login.ejs">
        <legend class="legend">Log IN</legend>
        <div class="massage-container">
            <level for="email" class="form_level"><b>Email</b></label> 
            <input class="input" id="email" type="email" placeholder="Email">
        </div>
        <div class="massage-container">
            <label for="password" class="form_level"><b>Password</b></label>
            <input class="input" name="password" id="password" type="password" placeholder="Password">
        </div>
        <button class="login-btn" type="button">Log In</button>
        <button class="signup-btn" type="button">Sign Up</button>    
    </form>
</body>
</html>