<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <h1 class="header">LogIn page</h1>
    <div class="center">
        <form id="login" class="loginform"  method="POST"  action="/auth/login">
            <legend class="legend">Log In</legend>
            <div class=" input-container massage-container">
                <level for="email" class="form-level"><b>Email</b></label> 
                <input name="email" class="input" id="email" type="email" placeholder="Email">
            </div>
            <div class="input-container massage-container">
                <label for="password" class="form-level"><b>Password</b></label>
                <input class="input" name="password" id="password" type="password" placeholder="Password">
            </div>
            <button class="form-btn" type="submit">Log In</button>
            <a href="/auth/register" class="form-btn">
              Sign Up
            </a>
        </form>
    </div>
</body>
</html>