* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
 }
body{
    background-color: rgb(241, 244, 246);
}
.nav a{
    text-decoration: none;
    color:whitesmoke;
}

.nav2 a{
    text-decoration: none;
    color:black;

}
.nav-container{
    position: sticky;
    top:0px;
}
.nav{
    background-color:teal;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    align-items: center;
}
.nav-anchor {
    font-size: 1.3rem;
}

.search-bar-conteiner{
    width: 50%;
    height: 3em;
   
}

.search-bar{
    outline:none;
    font-size: 30px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0em 0.5em;
}

.nav2{
    display: flex;
    background-color:white;
    padding: 1em 1em;
    justify-content: space-around;
}
.nav2 a:hover{
    color:blue;

}


/*.........NEW CODE CSS..............*/
.conteiner{
     display: flex;
    justify-content: space-between;
}
.header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30Px;
    color: #333;
    padding-bottom: 1em;
}
.side-image{
    background-color: rgb(3, 190, 190);
    padding: 1em 1em 1em 1em;
    flex: 3;
    text-align: center;
}
.image{
    width: 50%;
}
.box2{
    flex: 2;
    text-align: center;
}
.box2 div{
    border: 1px #ccc solid;
    padding: 10px;
    margin: 10px;
    background-color:#333;
    flex: 2;
}
.side-info{
    color: whitesmoke;
    text-decoration: none;
}