.legend{
    font-family: sans-serif;
    font-size: 1.5rem;
    color:rgb(15, 60, 112);
    text-align: center;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    margin-bottom: 1.2rem;
   

}
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-align: center;
 }
 body{

    background-color: rgb(197, 228, 211);
}
.center{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.signupform{
    flex-direction: column;
    padding: 5rem;
    border-radius: .4rem;
    box-shadow: 0 0 20px -5px;
    background-color: rgb(226, 175, 146);
    /* background-color: ; */
    width: 40%;
    max-width: 50rem;
}
.login-btn{
    width: 100%;
    font-size: 1.5rem;
    background-color: rgb(188, 177, 214);
    letter-spacing: 1px;
    border: 2px solid;
    padding: .5rem;
}
.signup-btn{
    width: 100%;
    font-size: 1.5rem;
    background-color: rgb(236, 226, 229);
    letter-spacing: 1px;
    border: 2px solid;
    padding: .5rem;  
}
.login-container{
    justify-content: center;
    flex-direction: column;
    text-align: center; 
    padding-bottom: 7pt;   
    
}
.form-level{
    font-size: 1.2rem;
    font-family: sans-serif;
    width: 100%;
}
.input , input-container{
    box-sizing: border-box;
    font-family: sans-serif;
    margin-bottom: 1.2rem;
    width: 100%;
}
input{
    -webkit-writing-mode: horizontal-tb !important;
    text-align: start;
    appearance: auto;

}
input[type ="name" i]{
    padding: 1px 2px;
}
input[type="email" i] {
    padding: 1px 2px;
}
input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 2px 2px;
}
